<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <table border="1">
    <tr th:each="shop : ${shops}">
      <td><a th:href="${shop.urls}" th:text="${shop.name}"></a></td>
      <td th:text="${shop.budgetAverage}"></td>
      <td th:text="${shop.catch}"></td>
      <td th:text="${shop.close}"></td>
      <td th:text="${shop.genre}"></td>
      <td th:text="${shop.largeArea}"></td>
      <td th:text="${shop.largeServiceArea}"></td>
      <td th:text="${shop.lunch}"></td>
      <td th:text="${shop.middleArea}"></td>
      <td th:text="${shop.open}"></td>
      <td th:text="${shop.serviceArea}"></td>
      <td th:text="${shop.smallArea}"></td>
      <td th:text="${shop.stationName}"></td>
      <td><img alt="" th:src="${shop.photo}"></td>
    </tr>
    <br>
  </table>
</body>
</html>